.banner {
  height: 50vh !important;
  background: url("bg.jpg") no-repeat center / cover;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.banner__description {
  text-align: center;
  color: #fff;
  font-size: 1.875rem;
  line-height: 2.7rem;
  margin-bottom: 3rem;
}

.banner .button:hover {
  color: #c0301c;
  background: #fff;
}
