.flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

.flex_justify-content_center {
  justify-content: center;
}

.flex .flex_justify-content_start {
  justify-content: flex-start;
}

.flex_justify-content_stretch {
  justify-content: stretch;
}

.flex_justify-content_space-around {
  justify-content: space-around;
}

.flex_justify-content_space-between {
  justify-content: space-between;
}

.flex_justify-content_start {
  justify-content: space-between;
}

.flex_align-items_center {
  align-items: center;
}

.flex_align-items_end {
  align-items: flex-end;
}

.flex_col {
  flex-direction: column;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_order_1 {
  order: 1;
}

/* medium  */

@media screen and (max-width: 1024px) {
  .flex_medium-column {
    flex-direction: column;
  }

  .flex_medium-align-self_end {
    align-self: flex-end;
  }

  .flex_medium-align-items_center {
    align-items: center;
  }

  .flex_medium-justify-content_space-around {
    justify-content: space-around;
  }

  .flex_medium-justify-content_center {
    justify-content: center;
  }
}

/* small */
@media screen and (max-width: 768px) {
  .flex_small-column {
    flex-direction: column;
  }

  .flex_small-align-self_end {
    align-self: flex-end;
  }

  .flex_small-align-items_center {
    align-items: center;
  }

  .flex_small-justify-content_space-around {
    justify-content: space-around;
  }

  .flex_small-justify-content_center {
    justify-content: center;
  }
}
