.font {
  color: #555555;
}

/* Primary font */
/* ------------------------------------- */
.font_primary-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font_primary-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font_primary-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font_primary-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font_primary-thin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Secondary font */
/* ------------------------------------- */
.font_secondary-regular {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
}

.font_secondary-italic {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: italic;
}
