.title__text {
  margin-top: 6.25rem;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.title__description {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.875rem;
}

.title__line {
  display: block;
  margin: 1.875rem auto;
  width: 3.125rem;
  height: 0.125rem;
  background: #555;
}
