@import "navigation-responsive.css";

.navigation {
  display: block;
}
.navigation__menu {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: #c0301c;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.navigation__expanded {
  right: 0;
}

.navigation__container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
}

.navigation__menu-item {
  display: block;
  color: white !important;
}

.navigation__toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  position: relative;
  width: 3.6rem;
  z-index: 2;
}

.navigation__toggle:hover {
  opacity: 0.8;
}

.navigation__toggle-bar::after,
.navigation__toggle-bar::before {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: "";
  height: 0.4rem;
  width: 100%;
}

.navigation__toggle-bar::after {
  margin-top: 1.7rem;
}

.navigation__toggle-bar::before {
  margin-top: 0.8rem;
}

.navigation__expanded .navigation__toggle-bar::after,
.navigation__toggle.navigation__expanded .navigation__toggle-bar::before {
  background: white;
  margin-top: 0;
}

.navigation__toggle.navigation__expanded .navigation__toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navigation__toggle.navigation__expanded .navigation__toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
