@import "page-footer-responsive.css";

.page-footer {
  background: #c0301c;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.page-footer__social {
  width: 20%;
}

.page-footer__line {
  background: #fff;
}

.page-footer__description {
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  font-size: 0.75rem;
}
