@media screen and (max-width: 768px) {
  .page-blog__blogs {
    margin-left: 0;
  }

  .page-blog .page-blog__blog-responsive-picture {
    display: block;
    height: 10rem !important;
  }

  .page-blog .page-blog__blog-picture {
    display: none;
  }

}

@media screen and (max-width: 1024px) {
  .page-blog__blogs {
    margin-left: 0;
  }

  .page-blog .page-blog__blog-responsive-picture {
    display: block;
    height: 20rem;
  }

  .page-blog .page-blog__blog-picture {
    display: none;
  }
}
